body {
  margin: 0;
  background-color: #fffef8;
  color: #525252;
  top: 0px !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.skiptranslate iframe {
  display: none !important;
}

body > iframe {
  display: none;
}

div#goog-gt-tt {
  display: none !important;
}
